/*--Hollow Mountian css--*/

html
	{
	padding: 0;
	margin: 0;
	}

body
	{
	padding: 0;
	margin: 0;
	background-color: #eee;
	/*
	background-image: url(../images/binding_dark.png);
	*/
	}


/*-- misc css --*/


@media all and (min-width: 1200px)
{
#padblock
	{
	width: 100%;
	height: 50px;
	display: block;
	}
}	

@media all and (max-width: 1199px) and (min-width: 700px)
{
#padblock
	{
	width: 100%;
	height: 35px;
	display: block;
	}

}	

	
	
	
	
	